			.navbar{
				margin-bottom: 1px;
			}
			.navbar a{
				text-decoration: none;
			}
			.container3 dl{
				
				float: left;
				padding: 50px;	
			}
			#footer{
				padding: 0px;
			}

			.weber-info{
				margin-top: -30px;
			
			}
			
			.weber-info img{
				width: 60px;
				height: 60px;
				border: solid 1px gray;
				
			}
			
			.weber-info .media-heading{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			
			.media-bottom li{
				width: 30%;
				border-right: solid 1px #ddd;
			}
			.media-bottom li:last-of-type{
				border-right: none;
			}