.navbar{
	margin-bottom: 1px;
}
.navbar a{
	text-decoration: none;
}

.carousel-inner1 .item img{
	width: 1400px;
	height: 500px;
}
.carousel-inner1{
	margin-bottom: 30px;
}
.container1{
	
	margin-top: 10px;
	margin-bottom: 100px;
}

.no-collapse-1 p{
	margin-top: -30px;
}
.no-collapse-1 img{
	margin-bottom: 20px;
	height: 400px;
}			
.media-bottom li{
	width: 30%;
	border-right: solid 1px #ddd;
}
.media-bottom li:last-of-type{
	border-right: none;
}

.hot-topic{
	width: 250px;
	height: 50px;
	font-size: 20px;
	margin-bottom: 20px;
}

.hot-author{
	width: 250px;
	height: 50px;
	font-size: 20px;
	
}
.hot-author img{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.style a{		
	text-decoration: none;
}

.new-song{
	width: 250px;
	height: 50px;
	font-size: 20px;
}

.carousel-inner2 .item img{
	width: 320px;
	height: 480px;
}

.container3 dl{
	
	float: left;
	padding: 50px;	
}
#footer{
	padding: 0px;
}

.weber-info{
	margin-top: -30px;
	
}

.weber-info img{
	width: 50px;
	height: 50px;
	border: solid 1px gray;
	
}

.weber-info .media-heading{
	margin-top: 20px;
	margin-bottom: 30px;
}

.pagination>li>a{
	border-color: #222222;
	background-color: #222222;
	color: #797e8d;
}

.pagination>.active>a{
	border-color: #080808;
	background-color: #080808;
}

.pagination>li>a:hover{
	color: #d84780;
}

.pagination>.active>a:hover{
	border-color:#d84780 ;
	background-color:#d84780 ;
}